body {
	margin: auto;
	font-family:'Circular Air Light', sans-serif;
	background-color: #2D4057;
	color: #FA9483;
	font-size: 1.3rem;
	/* Margin bottom by footer height */
  	margin-bottom: 3rem; 
}
/*.content {
	padding-right: 24rem;
}*/

.title {
	font-family:'Circular Air Medium', sans-serif;
	font-size: 3rem;
	text-align: left;
	line-height: 4.5rem;
	padding-bottom: 0.75rem;
}

#about {
	line-height: 2.5rem;
}

.stick-title {
	font-family:'Circular Air Medium', sans-serif;
	font-size: 2.7rem;
	text-align: left;
	line-height: 4.5rem;
	padding-bottom: 1.2rem;
}

#projects {
	font-size: 9rem;
	text-align: center;
	align-items:center;
  	justify-content:center;
  	margin-top: -2rem;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.img-fluid{
	max-width: 160px;
	border-radius: 3px;
}

a { 
	color: #FA9483;
}

a:hover{
	color: #395270;
	text-decoration: none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	/* ...and now for the proper property */
	transition:.3s;
}

.underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.2;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .75rem;
  text-align: center;
  justify-content:center;
  font-family: 'Circular Air Light', sans-serif;
  /* Set the fixed height of the footer here */
  height: 3rem; 
}

/* end of sticky footer */

@font-face {
  font-family: 'Circular Air Light';
  src: url('/assets/fonts/circularairlight.ttf') format('truetype'),
       url('/assets/fonts/circularairlight.woff') format('woff');
}
@font-face {
  font-family: 'Circular Air Medium';
  src: url('/assets/fonts/circularairmedium.ttf') format('truetype'),
       url('/assets/fonts/circularairmedium.woff') format('woff');
}
@font-face {
  font-family: 'Circular Air Book';
  src: url('/assets/fonts/circularairbook.ttf') format('truetype'),
       url('/assets/fonts/circularairbook.woff') format('woff');
}

img:hover{
  opacity:0.4; /* how much transparent you want image to be*/
  filter:alpha(opacity=40); /* browser fix*/
  -webkit-opacity:0.4; /*vendor prefixes for website browsers*/
  -moz-opacity:0.4; /* same as above, edited thankx to @ Daniel_Lisik  */
  -o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	/* ...and now for the proper property */
	transition:.3s;
	cursor: pointer;
}
